body {
    background-image: url('./imagenes/fondopagina2.jpg');
    background-attachment: fixed;
    background-size: cover;

}

.navbar-yellow, .footer-yellow {
    background-color: #F3EB46;
}

.navbar-yellow {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-link {
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    border-bottom-color: #664d03;
}

.btn-brown {
    color: #fff;
    background-color: #664d03;
    border-color: #664d03;
}

.btn-brown:hover {
    background: #4e3c05;
    color: white;
}

.link-rrss {
    padding: 5px;
    border-radius: 5px;
    color: #664d03;
}

.link-rrss:hover {
    color: #F3EB46;
    background: #664d03;
}

.form-control:focus, .form-control:hover {
    border-color: #49bf88;
    box-shadow: 0 0 0 0.25rem rgb(13 253 76 / 25%);
}
div {
    display: block;
}

.Foto {
    border-radius: 40%;
    width: 10%;
    height: 10%;
    align-content:space-around;
}
.Foto2 {
    border-radius: 10%;
}

.grupo {
    border: 5px solid #02A744;
    width: 150px;
    height: 150px;
}

.sombra {
    box-shadow: -8px 12px 10px -2px #F3EB46;
}
.rounded-circle {
    border-radius: 50%!important;
}
.text-center {
    text-align: center!important;
}

#Imagenes .col-lg-3{
    margin: 0 !important;
    padding: 25px;
}
#Imagenes img {
    width: 100%;
    height: 200px;
}
#Imagenes img:hover{
    border: 5px solid #F3EB46;
}

#Imagenes video {
    width: 100%;
    height: 200px;
}
#Imagenes video:hover{
    border: 5px solid #F3EB46;
}
h3 {
    font-family: Garamond;
    font-style: italic;
    font-weight: bold;
    color:#d8ce19;
}
h2 {
    padding: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color:  #0c6831;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
}
iframe:hover{
    width: 50%px;
    height: auto;
    border: 5px solid #F3EB46;
  }

  .mainContainer {
    height: calc(100vh - 7rem);
  }
  @media  (max-width: 768px) {
    .mainContainer {
      background-image: url(./imagenes/cerrado-R.jpg);
    }
  }
  @media (min-width: 768px){
      .mainContainer{
          background-image: url(./imagenes/cerrado.jpg); 
  
      }
  }

  .efecto-hoja {
    margin-left: 10%;
    width: 80%;
    background-color: whitesmoke;
    height: 210vh;
    box-shadow: 0px 1px 20px;
    border-radius: 3px;
}

#left-text-style {

    width: 30%;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 10px;
}

.cascada-del-rio-noque {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 350px;
    width: 50%;
    box-shadow: 0px 1px 20px;
}

.cascadas-imagenes {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 992px) {
    .efecto-hoja {
        width: 100%;
        margin: 0px;
        padding: 0px;
        border: none;
        box-shadow: none;
        background-color: white;

    }

    .primera-vista {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    #left-text-style {
        width: 50%;
        margin-bottom: 50px;

    }
}

@media screen and (max-width: 426px) {
    .efecto-hoja {
        margin: 0px;
        padding: 0px;
        width: 726px;
    }
    .alisos-XD {
        width: 146px;
    }
}

@media screen and (max-width: 376px) {
    #left-text-style {
        width: 90%;
    }

    .br {
        display: none;
    }
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic!important;
    color:  #02A744;
}
h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic!important;
    color:  #02A744;
}